[Unit]
Description=Toshiba backup-data external hard-drive script trigger
Requires=media-matthew-backup\\x2ddata.mount
After=media-matthew-backup\\x2ddata.mount

[Service]
ExecStart=/home/matthew/bin/backup_data.sh

[Install]
WantedBy=media-matthew-backup\\x2ddata.mount
