[Desktop Entry]
Version=1.0
Type=Application
Name=Weekly Planner
Comment=Open Weekly Planner template in LibreOffice
Exec=libreoffice "/home/mbluteau/Templates/Weekly Time Planning.ots" &
Icon=libreoffice
Terminal=false
Categories=Office;OfficeSuite;
StartupNotify=true
